<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title><%= content_for?(:title) ? yield(:title) : "Find my dog" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>

  <%= csrf_meta_tags %>
</head>

<!--TODO https://github.com/geddski/overmind -->
<body ng-app="findMyDogApp">
<div class="row">
  <%= render :partial => 'app/menus/main_menu' %>
  <%= render :partial => 'app/menus/right_menu' %>
  <div ng-controller="findMyDogController">
    <div class="large-9 columns">
      <%= yield %>
    </div>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <ul class="breadcrumbs">
      <li><a href="/main">Principal</a></li>
      <li><a href="#">Rescatados</a></li>
      <li><a href="/paciente">Localizados</a></li>
      <li class="current"><a href="#">Servicios</a></li>
    </ul>
  </div>
</footer>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>
<%= javascript_include_tag "application" %>
</body>
</html>
